.header {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.logo {
  height: 60px;
  width: auto;
}

.break {
  background-color: #262626;
  height: 28px;
  margin: 0 16px;
  width: 1px;
}